{
"authRequire":"Y",
"data":[
	#foreach($order in $body.orders)
	{
		"poExternalNumber":"$order.referenceNo",		
		#if(!$custom.isNull($order.associatedParty) && !$custom.isNull($order.partyId))
			"buyerId":"$order.partyId","buyerName": "$order.partyName","supplierId":"$order.associatedParty.id","supplierName":"$order.associatedParty.name"
		#end
		"PAYMENTTERMS": "#IF(!$CUSTOM.ISNULL($ORDER.PAYMENTTERMS))$ORDER.PAYMENTTERMS#END",
		"commodityList": [ 
			#foreach($commodity in $order.commodities)
				#if($commodity.type == "A")
				{	"commodityCode": #if(!$custom.isNull($commodity.code))"$commodity.code"#{else}""#end,
					"commodityName": #if(!$custom.isNull($commodity.name))"$commodity.name"#{else}""#end,
					"unitWeight": #if(!$custom.isNull($commodity.weight))$commodity.weight#{else}0#end					}
				#end#if(!$foreach.last ),#end
			#end			
		 ],
		#if(!$custom.isNull($order.programCode))	programId": "$order.programCode",
		#end
		"preAccepted": "#if($order.preAccepted)Y#{else}N#end",
		"basePoAmount":$order.grossAmount		
	}#if(!$foreach.last ),#end
	#end
  ]
}