<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="stylesheet" href="stylesheets/style.css" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="javascripts/jquery-linedtextarea.js"></script>

  <link href="stylesheets/jquery-linedtextarea.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
    <style>
        .jumbotron {
            background-image: url("/bg.jpg");
            background-size: cover;
            height: 250px;
        }
        .row{
            margin: 20px;
        }
        .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
        background-color:grey;
        color: white;
        
        }
        label{
          display: inline-block;
          background-color: indigo;
          color: white;
          padding: 0.5rem;
          font-family: sans-serif;
          border-radius: 0.3rem;
          cursor: pointer;
          margin-top: 1rem;
        }
        #upload{
          display: inline-block;
          background-color: grey;
          color: white;
          padding: 0.5rem;
          font-family: sans-serif;
          border-radius: 0.3rem;
          cursor: pointer;
          margin-top: 1rem;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark mb-1">
        <div class="container-fluid">
          <a class="navbar-brand" style="position: relative; left: 50%; margin-left: -50px;" href="#">JSON TOOLKIT</a>
        </div>
      </nav>

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4" style="color: antiquewhite;">JSON Mapping Toolkit</h1>
            
          </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="d-flex justify-content-evenly">
              <button type="button" id="import" class="btn btn-outline-secondary">Import File</button>
              <form action="/input" method="post">
              <button type="submit" class="btn btn-outline-secondary">New Project</button>
            </form>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="container">
            <div class="row">
                <p>&#169; Oracle Banking Routing Hub</p>
            </div>
        </div>
      </div>

      <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Upload Your File Here</h5>
              
            </div>
            <div class="modal-body">
              <form action="/" enctype="multipart/form-data" method="post">
                
                <input type="file" name="file-to-upload" id="actual-btn" >
                <!-- <label for="actual-btn">Choose File</label> -->
                
                <input type="submit" value="Upload" >
                
                
              </form> 
            </div>            
          </div>
        </div>
    </div>

    
</body>

<script>
  $('#import').on('click', function(){
    $('#importModal').modal('show');
  });

</script>
</html>